<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Embedding font Lora Ital -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <style>
        .flex-container {
            display: flex;
        }
        .flex-child {
            flex: 1;
        }
        .flex-child:first-child {
            margin-right: 20px;
        }
        .mybox1 {
            width: 700px;
            padding: 10px;
            margin-left: 260px;
        }
        .mybox2 {
            width: 600px;
            padding: 20px;
            padding-top: 30px;
            padding-left: 100px;
        }
        .sign_up {
            padding-bottom: 35px;
        }
        #welcome_logo {
          font-family: 'Lora', serif;
          font-size: 84px;
        }
        #logo_tagline {
          font-size: 24px;
        }

        /* #register_signup {
            padding: 20px;
        } */

        /* #login_email {
          padding-top: 35px;
        } */
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">About</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link" href="#">Register</a>
          </div>
        </div>
    </nav>
    <!-- jumbotron -->
    <div class="jumbotron">
        <!-- <h1 class="display-4" id="welcome_logo">Lewis Sewing</h1> -->
        <img src="{% static 'img/lewis_logo_1.png' %}" alt="Trulli" height="333">
        <p class="lead" id="logo_tagline">Welcome to the payment page of Lewis Sewing</p>
        <hr class="my-4">
        <p>Click the button below to go to Class Curriculum.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Curriculum</a>
    </div>
    <!-- beginning of flex-container -->
    <div class="flex-container">
        <!-- carousel -->
        <div class="row">
          <div class="col flex-child">
              <div class="mybox1">
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'img/designer.jpg' %}" class="d-block w-100" alt="A lady looking at fabrics">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'img/thread.jpg' %}" class="d-block w-100" alt="A collection of colorful thread">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'img/working.jpg' %}" class="d-block w-100" alt="A girl on a sewing machine">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
              </div>
          </div>
      </div>
        <!-- sign up -->
        <div class="row">
            <div class="col flex-child">
                <div class="mybox2">
                    <form action="/handle_login" method="post">
                        {% csrf_token %}
                        <h3 class="sign_up">Login</h3>
                        <a href="{% url 'register'%}">If you're new, register.</a>
                          <div class="form-group">
                            <label for="validationDefault02">E-mail</label>
                            <input type="text" name="username" class="form-control" id="validationDefault02" required>
                          </div>
                          <div class="form-group">
                            <label for="validationDefault02">Password</label>
                            <input type="password" name="password" class="form-control" id="validationDefault02" required>
                          </div><br>
                          <!-- <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I have looked at the Curriculum and About page.</label>
                          </div> -->
                          {% if messages %}
                          <ul>
                            {% for error_message in messages %}
                              <li>{{error_message}}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        <!-- end container -->
    </div>


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>